body {
		background-color: #96bb7c;
		background-attachment: scroll;
		
			}
		h1 {
                text-align: center;
                color: #351f39;
                margin-top: -100px;
                font-size: 50px;
                padding-bottom: 25px;
            }
		img.left {
                margin-left: 30px;
                margin-right: auto;
                opacity: 0.7;
            }
            img.right {
                margin-left: 76%;
                margin-right: auto;
                opacity: 0.7;
            }
	}
	
 
 

        }
        
 title {
            text-align: center;
        }

	
.button {
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}





